<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Hii <%= user.name %></p>

<h3>Personal Info</h3>

<p class="lead mb-3">Name : <%= user.name %> </p>
<p class="lead mb-3">Age : <%= user.age %> </p>
<p class="lead mb-3">Email : <%= user.email %> </p>
<a href="/users/logout" class="btn btn-info">Logout</a>

